<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973910736856-j2l4g95dfordp51vm1e9qhijal46jsl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973910736856-j2l4g95dfordp51vm1e9qhijal46jsl4</string>
	<key>API_KEY</key>
	<string>AIzaSyCnC4oXvcOeopIGIVXHArtt8Rt0qqwYPD8</string>
	<key>GCM_SENDER_ID</key>
	<string>973910736856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personalNotes</string>
	<key>PROJECT_ID</key>
	<string>personal-notes-e87db</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-notes-e87db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973910736856:ios:6d184e76b3f8876874bcad</string>
</dict>
</plist>